<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<%= link_to "Edit this article", edit_article_path %>
<%= link_to "Delete this article", article_path(@article), method: :delete, data: {confirm: "Detete #{@article.title}?"} %>
<%= link_to "Back to all my articles", articles_path %>